
body {
  background: url('https://client.socialmediadesignpro.com/uploads/domain/45717/background/social-media-design-pro-bgcopy_02150ca60c35b6c988c52741a84e55ff.png') center bottom no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}